* {
  font-family: 'Roboto', sans-serif;
}

/* landing page styles */
.container {
    padding-top: 2%;
    padding-bottom: 2%;
}

.text {
  font-weight: 500;
  font-family: Arial, Helvetica, serif;
  font-size: 120%;
}